/* Header */

* {
    font-family: 'Nanum Gothic Coding', monospace;
}

.header {
  padding: 5px;
  text-align: left;
  background: rgb(2, 48, 71);
  color: white;
  padding-left: 20px;
  width: 100%;
}

.subheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "date username";
  padding: 2px;
  color: black;
  font-size: 13px;
  background-color: rgb(142, 202, 230);
}

.clock {
  text-align: left;
  padding: 2px;
  padding-left: 5px;
}

.headbar2 {
  text-align: right;
  padding: 2px;
}

#logout {
  background: none;
  border: none;
  font-size: 13px;
}

a {text-decoration: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}

/* section includes : nav + board */
section {
  background: rgb(238, 247, 251);
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "nav screen";
  margin: 0;
}

/* Navigation menu*/
.nav {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  float: left;
  overflow: hidden;
  text-align: left;
  color: white;
  background-color: rgb(33, 158, 188);
}

.nav h4 {
  padding-left: 15px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.navmenu img {
  display:inline-block;
  position: relative;
  vertical-align: middle;
}

.navmenu .img-top {
  display:none;
  z-index: 99;
  vertical-align: middle;
}

.navmenu:hover .img-org {
  display:none;
  z-index: -1;
  vertical-align: middle;
}

.navmenu:hover .img-top {
  display:inline;
  vertical-align: middle;
}

.nav a {
  color: white;
  display: block;
  text-align: left;
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
}

.nav a:hover {
  color: black;
  background-color: rgb(255,183,3)
}

/* Board as the white side */

.board {
  display: grid;
  padding: 15px;
  grid-gap: 15px;
}
