<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"> <!-- HSM Equipment Information -->
  <head>
    <link rel="stylesheet" href="/css/mainstyle.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/tablestyle.css" type="text/css" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>HSM 장비 모니터링 시스템</title>
 </head>
 <body>
  <div class="header">
    <h4>HSM Monitoring System</h4>
  </div>
  <div class="subheader">
    <div class="clock" id="clock"><script src = "/js/clock.js"></script></div>
    <div class="headbar2">
      <!-- logout button-->
      <form th:action="@{/logout}" method="POST">
        사용자 <span th:text="${user_id}"></span> |
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <button id="logout" type="submit">로그아웃</button>
      </form>
    </div>
  </div>
  <section>
    <div class="nav">
      <h4>메뉴</h4>
      <ul>
        <li>
          <a class="navmenu" href="/index">
            <img src="/imgs/dashboard_white.png" class="img-org" width=30 />
            <img src="/imgs/dashboard_black.png" class="img-top" width=30 />
            <b>대시보드</b>
          </a>
        </li>
        <li>
          <a class="navmenu" href="/systemlog">
            <img src="/imgs/syslog_white.png" class="img-org" width=27 />
            <img src="/imgs/syslog_black.png" class="img-top" width=27 />
            <b>시스템 로그</b>
          </a>
        </li>
        <li>
          <a class="navmenu" href="/infohsm">
            <img src="/imgs/info_white.png" class="img-org" width=30 />
            <img src="/imgs/info_black.png" class="img-top" width=30 />
            <b>HSM 정보</b>
          </a>
        </li>
        <li>
          <a class="navmenu" href="/infouser">
            <img src="/imgs/admin_white.png" class="img-org" width=30 />
            <img src="/imgs/admin_black.png" class="img-top" width=30 />
            <b>시스템 관리자</b>
          </a>
        </li>
      </ul>
    </div>
    <div class="board" id="hsminfo">
      <h4>HSM 정보</h4>
        <div class="searchbar">
          <form action="./infohsm">
            <table class="searchform">
              <tr>
                <td><label for="hsmtype">HSM 유형 </label><input type="text" id="hsmtype" name="hsmtype"></td>
                <td><label for="hsmip">HSM IP </label><input type="text" id="hsmip" name="hsmip"></td>
                <td><label for="useornot">사용 여부 </label>
                  <select id="useornot" name="useornot">
                    <option>사용</option>
                    <option>사용 중지</option>
                  </select>
                </td>
                <td><button type="submit" class="tablebutton">조회</button></td>
              </tr>
            </table>
          </form>
        </div>
        <div class="tablecontainer">
          <form action="./newequip" method="get">
            <button type="submit" class="tablebutton" id="register">신규 등록</button>
          </form>
          <br>
          <table id="hsmtable">
          <thead>
          <tr>
            <th>#</th>
            <th>HSM 유형</th>
            <th>HSM IP</th>
            <th>서버 IP</th>
            <th>서버 PORT</th>
            <th>사용 여부</th>
            <th>등록자</th>
            <th>등록일시</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>PAYSHIELD</td>
            <td>10.100.10.213</td>
            <td>101.111.22.333</td>
            <td>1500</td>
            <td>사용 중</td>
            <td>admin</td>
            <td>2020-09-24</td>
          </tr>
          </tbody>
        </table>
      </div>
     </article>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
   </section>
 </body>
</html>