<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"> <!-- New HSM registeration -->
  <head>
    <link rel="stylesheet" href="/css/mainstyle.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/registstyle.css" type="text/css" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>HSM 장비 모니터링 시스템</title>
  </head>
  <body>
  <div class="header">
    <h4>HSM Monitoring System</h4>
  </div>
  <div class="subheader">
    <div class="clock" id="clock"><script src = "/js/clock.js"></script></div>
    <div class="headbar2">
      <!-- logout button-->
      <form th:action="@{/logout}" method="POST">
        사용자 <span th:text="${user_id}"></span> |
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <button id="logout" type="submit">로그아웃</button>
      </form>
    </div>
  </div>
  <section>
    <div class="nav">
      <h4>메뉴</h4>
      <ul>
        <li>
          <a class="navmenu" href="/index">
            <img src="/imgs/dashboard_white.png" class="img-org" width=30 />
            <img src="/imgs/dashboard_black.png" class="img-top" width=30 />
            <b>대시보드</b>
          </a>
        </li>
        <li>
          <a class="navmenu" href="/systemlog">
            <img src="/imgs/syslog_white.png" class="img-org" width=27 />
            <img src="/imgs/syslog_black.png" class="img-top" width=27 />
            <b>시스템 로그</b>
          </a>
        </li>
        <li>
          <a class="navmenu" href="/infohsm">
            <img src="/imgs/info_white.png" class="img-org" width=30 />
            <img src="/imgs/info_black.png" class="img-top" width=30 />
            <b>HSM 정보</b>
          </a>
        </li>
        <li>
          <a class="navmenu" href="/infouser">
            <img src="/imgs/admin_white.png" class="img-org" width=30 />
            <img src="/imgs/admin_black.png" class="img-top" width=30 />
            <b>시스템 관리자</b>
          </a>
        </li>
      </ul>
    </div>
    <div class="board" id="hsminfo">
      <h4>HSM 장비 신규 등록</h4>
      <script src="/js/registrations.js"></script>
      <div class="registercontainer">
        <form onsubmit="return hsmcheckbeforesubmit();" action="./infohsm" method="post">
          <table>
            <tr>
              <td>HSM 유형</td>
              <td><input type="text" id="hsmtype" name="hsmtype"></td>
            </tr>
            <tr>
              <td>HSM IP</td>
              <td><input type="text" id="hsmip" name="hsmip"></td>
            </tr>
            <tr>
              <td>서버 IP</td>
              <td><input type="text" id="serverip" name="serverip"></td>
            </tr>
            <tr>
              <td>서버 PORT</td>
              <td><input type="text" id="serverport" name="serverport"></td>
            </tr>
            <tr>
              <td>사용 여부</td>
              <td><input type="checkbox" id="use" name="use"> 사용</td>
            </tr>
            <tr>
              <td>등록자</td>
              <td><input type="text" id="approval" name="approval" value="admin" readonly></td>
            </tr>
            <tr>
              <td>등록 일시</td>
              <td><input type="text" id="registeredDate" name="registeredDate" readonly><script src = "/js/createinput.js"></script></td>
            </tr>
          </table>
          <!-- 그 외  실제 구현 시 승인한 사람과 승인 날짜는 각각 자동으로 admin / 시스템 시간이 들어갈 수 있게하고 별도 입력 x -->
          <br>
          <button type="submit" class="tablebutton">등록</button>
          <!--
          등록 기능을 해제할 경우 아래 코드를 사용. 권한 없음 팝업창이 뜸.
          <script src="notauthourized.js"></script>
          <button onClick="alerting()" class="tablebutton">등록</button>
         -->
        </form>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </section>
  </body>
</html>
